<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <title>Booltsapp Web</title>
    <!-- link vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axio vuejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- link my js -->
    <script src="js/main.js"></script>
    <!-- link my css -->
    <link rel="stylesheet" href="css/master.css">
</head>

<body>
    <div id="app" :class="(dark == true) ? 'container-night' : '' ">
        <!--container whatsapp  -->
        <div id="container-webapp">
            <!-- container lato sinistro lista chat -->
            <div class="chat-list" :class="(dark == true) ? 'dark' : '' ">
                <!-- container top chat list -->
                <div class="header-chatList">
                    <!-- container img utente e icon impostazioni -->
                    <div class="content-user" :class="(dark == true) ? 'night' : '' ">
                        <img src="img/goblin.png" alt="">
                        <i class="fas fa-moon" @click="darkMode"></i>
                        <div>
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v" @click="getRandom"></i>
                        </div>
                    </div>
                    <!-- container attiva notifiche -->
                    <div class="content-notified" :class="(dark == true) ? 'darkblue' : '' ">
                        <i class="fas fa-bell-slash" :class="(dark == true) ? 'grey' : '' "></i>
                        <div>
                            <h4 :class="(dark == true) ? 'grey' : '' ">
                                Get notified of new messages
                            </h4>
                            <span :class="(dark == true) ? 'grey' : '' ">
                                Turn on desktop notifications
                            </span>
                        </div>
                    </div>
                    <!-- container input per ricerca chat -->
                    <div class="content-search-bar" :class="(dark == true) ? 'night' : '' ">
                        <div class="searchbar" :class="(dark == true) ? 'dark' : '' ">
                            <i class="fas fa-search" v-if="(searchName == '')"></i>
                            <i class="fas fa-arrow-left" v-else @click="backSearch"></i>
                            <input type="text" placeholder="Search of start new chat" v-model="searchName"
                                :class="(dark == true) ? 'change-input' : ''">
                        </div>
                    </div>
                </div>
                <!-- corpo centrare lista chat -->
                <div class="main-chatList">
                    <ul>
                        <!-- ciclo di vuejs per creare tanti li quanti elementi array in js -->
                        <li v-for="elem in filteredContacts" @click="clickChat(elem)">
                            <img :src="elem.img" alt="">
                            <div class="content-info">
                                <div class="user-text">
                                    <h4 v-html="$options.filters.colorCharEqual(elem.name, searchName)"
                                        :class="(dark == true) ? 'text-white' : '' ">
                                    </h4>
                                    <span v-if="(elem.message.length >= 1)">
                                        {{elem.message[elem.message.length - 1].text.slice(0, 35)}}
                                        <span v-if="(elem.message[elem.message.length - 1].text.length > 35)">...</span>
                                    </span>
                                    <span v-else>
                                        {{textEmpty}}
                                    </span>
                                </div>
                                <div class="date" v-if="(elem.message.length >= 1)">
                                    {{elem.message[elem.message.length - 1].hour.slice(0, 5)}}
                                </div>
                                <div class="date" v-else>
                                    {{hourEmpty}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- container sezione chat -->
            <div class="chat">
                <!-- container conversazione chat  -->
                <div class="container-conversation" v-if="activeContact">
                    <!-- container top conversazione  -->
                    <div class="header-conversation" :class="(dark == true) ? 'night' : '' ">
                        <!-- container info chat che cambia in base al click -->
                        <div class="info-contact">
                            <img :src="activeContact.img" alt="">
                            <h4 :class="(dark == true) ? 'text-white' : '' ">{{activeContact.name}}</h4>
                        </div>
                        <!-- container icons setting -->
                        <div class="settings">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- corpo centrale conversazione -->

                    <div class="main-conversation" @click="closeDropDown" :class="(dark == true) ? 'filter-dark' : '' ">
                        <div class="content-msg">
                            <ul id="chatScroll">
                                <!-- ciclo per stampare tutti i mex contenenti in array usando il msg.status (lo status è uguale alla key in object array message e la key è uguale alla classe in css) -->
                                <li class="message"
                                    :class="[(msg.status == 'sent') ? 'sent' : '', (dark == true) ? 'green' : '']"
                                    v-for="(msg, indexMsg) in activeContact.message" @mouseover="indMsg(msg, indexMsg)"
                                    @mouseenter="hoverChevron(msg)" v-if="(msg.status == 'sent')">
                                    <div class="content-text-msg">
                                        <span v-html="msg.text">
                                        </span>
                                        <!-- sezione dropdown -->
                                        <i class="fas fa-chevron-down" @click="clickChevron(msg)"
                                            :class="(msg.chevron) ? 'active' : ''" @click.stop>
                                            <ul class="dropdown"
                                                :class="[(msg.dropDown) ? 'active' : '', (dark == true) ? 'night' : '' ]">
                                                <li v-for="(elem, index) in listaDropDown"
                                                    @click="removeMsg(msg,index),  msgImportant(msg, index)">
                                                    {{elem}}
                                                </li>
                                            </ul>
                                        </i>
                                    </div>
                                    <!-- sezione ora messaggio -->
                                    <div class="hours">
                                        <i class="fas fa-star" :class="(msg.msgKey) ? 'active' : '' "></i>
                                        <span>
                                            {{msg.hour.slice(0, 5)}}
                                        </span>
                                        <img src="img/spunte.png" alt="">
                                    </div>
                                </li>
                                <li class="message"
                                    :class="[(msg.status == 'received') ? 'received' : '', (dark == true) ? 'night' : '']"
                                    @mouseover="indMsg(msg, indexMsg)" @mouseenter="hoverChevron(msg)" v-else>
                                    <div class="content-text-msg">
                                        <span v-html="msg.text">
                                        </span>
                                        <!-- sezione dropdown -->
                                        <i class="fas fa-chevron-down" @click="clickChevron(msg)"
                                            :class="(msg.chevron) ? 'active' : ''" @click.stop>
                                            <ul class="dropdown"
                                                :class="[(msg.dropDown) ? 'active' : '', (dark == true) ? 'night' : '' ]">
                                                <li v-for="(elem, index) in listaDropDown"
                                                    @click="removeMsg(msg,index),  msgImportant(msg, index)">
                                                    {{elem}}
                                                </li>
                                            </ul>
                                        </i>
                                    </div>
                                    <!-- sezione ora messaggio -->
                                    <div class="hours">
                                        <i class="fas fa-star" :class="(msg.msgKey) ? 'active' : '' "></i>
                                        <span>
                                            {{msg.hour.slice(0, 5)}}
                                        </span>
                                        <img src="img/spunte.png" alt="">
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- container footer  -->
                    <div class="footer-conversation" :class="(dark == true) ? 'night' : '' ">
                        <!-- button emoticon -->
                        <i class="fas fa-smile" @click="clickEmoticonsMenu">
                            <!-- container emoticon nascosto che si apre al click -->
                            <div id="content-emoticon"
                                :class="[(emoticonDisplay) ? 'active' : '', (dark == true) ? 'night' : '']">
                                <!-- input per fare ricerca degli emoticon -->
                                <div>
                                    <input type="text" placeholder="Cerca emoji" @click.stop ref="inputFocus2"
                                        v-model="searchEmo" :class="(dark == true) ? 'dark' : '' ">
                                </div>
                                <ul>
                                    <!-- ciclo per stampare lista emoticon da js il v-html serve per fare vedere emoticon e non l'entity code
                                     -->
                                    <li v-for="elem in filteredEmoticons" @click="clickEmoticon(elem)" @click.stop >
                                        {{elem.character}}
                                    </li>
                                </ul>
                            </div>
                        </i>
                        <i class="fas fa-paperclip"></i>
                        <input type="text" placeholder="Type a message..." v-model="newMsg" @keyup.enter="addMsgSent"
                            ref="inputFocus" :class="(dark == true) ? 'change-input' : '' ">
                        <!-- condizione che fa switchare microfono a immagine aereoplanino in base al cambio valore del data newMsg -->
                        <i class="fas fa-microphone" v-if="(newMsg == '')"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="imgsvg" @click="addMsgSent"
                            v-else>
                            <path fill="currentColor"
                                d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z">
                            </path>
                        </svg>
                    </div>
                </div>
                <!-- container pagina prima del click su chat a scelta-->
                <div class="conversation-unopened" v-else :class="(dark == true) ? 'lightdark' : ''">
                    <div>
                        <img src="img/smartphone.png" alt="" v-if="(dark == false)">
                        <img src="img/smartphone-dark.png" alt="" v-else>
                        <h2>
                            Keep your phone connected
                        </h2>
                        <h3>
                            CREATED by JUMBOTRON &hearts;
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>