*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    list-style-type: none;
}

img{
    border-radius: 50%;
}

.container{
    display:flex;
}

/* regole condivise */
.active-user{
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* attributi vue per i :bind  */
.hide{
    display: none;
}



/* regole NAVBAR */
#contact-list{
    width: 400px;
    height: 100vh;
    /* debug */
    border: 1px solid red;
}

#navbar-searchbar{
    background-color: #ECEEED;
    padding: 10px;
}

#navbar-searchbar>div{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

#navbar-searchbar input{
    border: none;
    padding: 0 10px;
}

.contact{
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}


/* REGOLE MAIN */
main{
    position: relative;
    flex-grow: 1;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

/* regole prima sezione main: schermata start */
#start-background{
    background-color: #F6F7FB;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
}

#start-background>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

/* regole seconda sezione main: visualizzazione messaggi */
#message-view{
    flex-grow: 1;
    background-image: url('./img/background.jpg');
    padding: 20px 0;
}

#message-view>div{
    width: 60%;
    margin:auto;
}

#message-view>div li{
    border: 1px solid blue;
    padding: 10px 0;
}

.chat-message{
    position: relative;
}

.dropdown-icon{
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
}

.chat-message:hover .dropdown-icon{
    display: inline-block;
}

.sent>div, .received>div{
    padding: 20px 10px;
    border-radius: 20px;
}

.sent{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.sent>.chat-message{
    background-color: green;
}

.received{
    display: flex;
    justify-content: flex-start;
}

.received>div, .dropdown-menu{
    background-color: white;
}


.sent .dropdown-menu{
    border: 1px solid black;
    position: absolute;
    top: 50%;
    right: 10px;
}

.received .dropdown-menu{
    left: -50px;
    position: relative;
    top: 50px;
    border: 1px solid black;
}

/* regole terza sezione main: scrittura messaggi */
#message-write{
    background-color: lightblue;
    height: 100px;
}