*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    list-style-type: none;
}

img{
    border-radius: 50%;
}

.container{
    display:flex;
}

/* attributi vue per i :bind  */
.hide{
    display: none;
}

/* regole schermata di apertura */
main{
    position: relative;
}
.start-background{
    background-color: #F6F7FB;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
}

.start-background>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}


/* regole navbar lista contatti */
#contact-list{
    width: 400px;
    /* debug */
    border: 1px solid red;
}

#navbar-user{
    background-color: lightgray;
    padding: 10px;
}

#navbar-searchbar{
    background-color: #ECEEED;
    padding: 10px;
}

#navbar-searchbar>div{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

#navbar-searchbar input{
    border: none;
    padding: 0 10px;
}

.contact{
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}


/* regole main */
main{
    flex-grow: 1;
    border: 1px solid blue;  
}

/* regole sezione visualizzazione */
.active-user{
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding: 10px;
}

#message-view{
    height: 90vh;
    background-image: url('./img/background.jpg');
}

#message-view>div{
    width: 60%;
    margin:auto;
}

#message-view>div li{
    border: 1px solid blue;
    margin: 10px;
}

.sent{
    display: flex;
    justify-content: flex-end;
}

.sent>div{
    background-color: green;
    padding: 20px 10px;
    border-radius: 20px;
}

.received{
    display: flex;
    justify-content: flex-start;
}

.received>div{
    background-color: white;
    padding: 20px 10px;
    border-radius: 20px;
}

/* regole sezione scrittura messaggi */
#message-write{
    background-color: lightblue;
    height: 10vh;
}