/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style-type: none;
}

img.icon{
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.small-text{
    font-size: 0.9rem;
    color: gray;
}

i.fas.fa-check-double{
    color: #04AAF2;
}

.container{
    display:flex;
}

/* regole condivise */
.active-user, #add-contact{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.active-user>*{
    display: flex;
    align-items: center;
}

.active-user i, #message-write i{
    margin:10px;
    color: gray;
    font-size: 1.5rem;
}

.searchbar-container{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

input.search-bar{
    border: none;
    padding: 0 10px;
    outline: none;
}


/* attributi vue per i :bind  */
.hide{
    display: none;
}



/* regole NAVBAR */
nav .active-user, nav #add-contact{
    position: fixed;
    left: 0;
    right: calc(100% - 400px);
}

#contact-section{
    width: 400px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* debug */
}

#navbar-searchbar{
    background-color: #ECEEED;
    padding: 10px;
    position: fixed;
    top: 70px;
    right: calc(100% - 400px);
    left:0;
}

.contact-list{
    overflow-y: scroll;
    margin-top: 129px;
    flex-grow: 1;
}

.contact{
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
    padding: 10px;
    display: flex;
}

.contact:hover, .contact.active, .dropdown-menu>p:hover{
    background-color: lightgray;
    cursor: pointer;
}

.contact>div:nth-child(2){
    flex-grow: 1;
}

.contact>div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} 


/* REGOLE MAIN */
main{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* regole prima sezione main: schermata start */
#start-background{
    background-color: #F6F7FB;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    z-index: 99;
}

#start-background>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#start-background>div>div:last-child{
    text-align: center;
    line-height: 30px;
}

/* regole prima sezione main: utente attivo in alto */
main .active-user{
    position: fixed;
    right:0;
    left: 400px;
    z-index: 19;
}

.vertical-bar{
    height: 30px;
    border: 1px solid gray;
    margin: 0 10px;
}

/* regole seconda sezione main: visualizzazione messaggi */
#message-view{
    flex-grow: 1;
    background-image: url('./img/background.png');
    padding: 20px 0;
    overflow-y: scroll;
    margin-top: 70px;
}

#message-view>div{
    width: 80%;
    margin:auto;
}

#message-view>div li{
    padding: 10px 0;
}

.chat-message{
    position: relative;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px #888888;
    display: flex;
}

.chat-message>div:nth-child(2){
    display: flex;
    align-items: center;
}

.chat-message>div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-message i.fa-chevron-down{
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    color: grey;
    cursor: pointer;
}

.chat-message:hover i{
    display: inline-block;
}

.sent{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.sent .chat-message{
    background-color: #D8F3C4;
}

.received .chat-message, .dropdown-menu{
    background-color: white;
}

.received{
    display: flex;
    justify-content: flex-start;
}

/* regole menu dropdown */
.dropdown-menu{
    z-index: 9;
    box-shadow: 1px 2px #888888;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    width: 200px;
}

.dropdown-menu>*{
    padding: 20px 10px;
}

.sent .dropdown-menu{
    position: absolute;
    right: 10px;
    top: 50%;    
}

.received .dropdown-menu{
    position: absolute;
    right: -100px;
    top: 50%;
}

/* BONUS : Messaggio evidenziato */
.picked-message{
    color: red;
    font-weight: bold;
}


/* regole terza sezione main: scrittura messaggi */
#message-write{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 400px;
}

#message-write .searchbar-container{
    flex-grow: 1;
}